.charPic-Yelan {
  background-image: url('Characters/Gray/Yelan.png');
}

.charPic-Ayato {
  background-image: url('Characters/Gray/Ayato.png');
}

.charPic-Yae {
  background-image: url('Characters/Gray/Yae.png');
}

.charPic-Shenhe {
  background-image: url('Characters/Gray/Shenhe.png');
}

.charPic-Itto {
  background-image: url('Characters/Gray/Itto.png');
}

.charPic-Kokomi {
  background-image: url('Characters/Gray/Kokomi.png');
}

.charPic-Shougun {
  background-image: url('Characters/Gray/Shougun.png');
}

.charPic-Aloy {
  background-image: url('Characters/Gray/Aloy.png');
}

.charPic-Yoimiya {
  background-image: url('Characters/Gray/Yoimiya.png');
}

.charPic-Ayaka {
  background-image: url('Characters/Gray/Ayaka.png');
}

.charPic-Kazuha {
  background-image: url('Characters/Gray/Kazuha.png');
}

.charPic-Eula {
  background-image: url('Characters/Gray/Eula.png');
}

.charPic-Hutao {
  background-image: url('Characters/Gray/Hutao.png');
}

.charPic-Xiao {
  background-image: url('Characters/Gray/Xiao.png');
}

.charPic-Ganyu {
  background-image: url('Characters/Gray/Ganyu.png');
}

.charPic-Albedo {
  background-image: url('Characters/Gray/Albedo.png');
}

.charPic-Zhongli {
  background-image: url('Characters/Gray/Zhongli.png');
}

.charPic-Childe {
  background-image: url('Characters/Gray/Childe.png');
}

.charPic-Klee {
  background-image: url('Characters/Gray/Klee.png');
}

.charPic-Venti {
  background-image: url('Characters/Gray/Venti.png');
}

.charPic-Jean {
  background-image: url('Characters/Gray/Jean.png');
}

.charPic-Diluc {
  background-image: url('Characters/Gray/Diluc.png');
}

.charPic-Mona {
  background-image: url('Characters/Gray/Mona.png');
}

.charPic-Keqing {
  background-image: url('Characters/Gray/Keqing.png');
}

.charPic-Qiqi {
  background-image: url('Characters/Gray/Qiqi.png');
}

.charPic-Heizou {
  background-image: url('Characters/Gray/Heizou.png');
}

.charPic-Shinobu {
  background-image: url('Characters/Gray/Shinobu.png');
}

.charPic-Yunjin {
  background-image: url('Characters/Gray/Yunjin.png');
}

.charPic-Gorou {
  background-image: url('Characters/Gray/Gorou.png');
}

.charPic-Tohma {
  background-image: url('Characters/Gray/Tohma.png');
}

.charPic-Sara {
  background-image: url('Characters/Gray/Sara.png');
}

.charPic-Sayu {
  background-image: url('Characters/Gray/Sayu.png');
}

.charPic-Yanfei {
  background-image: url('Characters/Gray/Yanfei.png');
}

.charPic-Rosaria {
  background-image: url('Characters/Gray/Rosaria.png');
}

.charPic-Xinyan {
  background-image: url('Characters/Gray/Xinyan.png');
}

.charPic-Diona {
  background-image: url('Characters/Gray/Diona.png');
}

.charPic-Barbara {
  background-image: url('Characters/Gray/Barbara.png');
}

.charPic-Razor {
  background-image: url('Characters/Gray/Razor.png');
}

.charPic-Xiangling {
  background-image: url('Characters/Gray/Xiangling.png');
}

.charPic-Beidou {
  background-image: url('Characters/Gray/Beidou.png');
}

.charPic-Xingqiu {
  background-image: url('Characters/Gray/Xingqiu.png');
}

.charPic-Ningguang {
  background-image: url('Characters/Gray/Ningguang.png');
}

.charPic-Fischl {
  background-image: url('Characters/Gray/Fischl.png');
}

.charPic-Bennett {
  background-image: url('Characters/Gray/Bennett.png');
}

.charPic-Noelle {
  background-image: url('Characters/Gray/Noelle.png');
}

.charPic-Chongyun {
  background-image: url('Characters/Gray/Chongyun.png');
}

.charPic-Sucrose {
  background-image: url('Characters/Gray/Sucrose.png');
}

.charPic-Kaeya {
  background-image: url('Characters/Gray/Kaeya.png');
}

.charPic-Lisa {
  background-image: url('Characters/Gray/Lisa.png');
}

.charPic-Amber {
  background-image: url('Characters/Gray/Amber.png');
}

.characters:hover .charPic-Yelan {
  background-image: url('Characters/Yelan.png');
}

.characters:hover .charPic-Ayato {
  background-image: url('Characters/Ayato.png');
}

.characters:hover .charPic-Yae {
  background-image: url('Characters/Yae.png');
}

.characters:hover .charPic-Shenhe {
  background-image: url('Characters/Shenhe.png');
}

.characters:hover .charPic-Itto {
  background-image: url('Characters/Itto.png');
}

.characters:hover .charPic-Kokomi {
  background-image: url('Characters/Kokomi.png');
}

.characters:hover .charPic-Shougun {
  background-image: url('Characters/Shougun.png');
}

.characters:hover .charPic-Aloy {
  background-image: url('Characters/Aloy.png');
}

.characters:hover .charPic-Yoimiya {
  background-image: url('Characters/Yoimiya.png');
}

.characters:hover .charPic-Ayaka {
  background-image: url('Characters/Ayaka.png');
}

.characters:hover .charPic-Kazuha {
  background-image: url('Characters/Kazuha.png');
}

.characters:hover .charPic-Eula {
  background-image: url('Characters/Eula.png');
}

.characters:hover .charPic-Hutao {
  background-image: url('Characters/Hutao.png');
}

.characters:hover .charPic-Xiao {
  background-image: url('Characters/Xiao.png');
}

.characters:hover .charPic-Ganyu {
  background-image: url('Characters/Ganyu.png');
}

.characters:hover .charPic-Albedo {
  background-image: url('Characters/Albedo.png');
}

.characters:hover .charPic-Zhongli {
  background-image: url('Characters/Zhongli.png');
}

.characters:hover .charPic-Childe {
  background-image: url('Characters/Childe.png');
}

.characters:hover .charPic-Klee {
  background-image: url('Characters/Klee.png');
}

.characters:hover .charPic-Venti {
  background-image: url('Characters/Venti.png');
}

.characters:hover .charPic-Jean {
  background-image: url('Characters/Jean.png');
}

.characters:hover .charPic-Diluc {
  background-image: url('Characters/Diluc.png');
}

.characters:hover .charPic-Mona {
  background-image: url('Characters/Mona.png');
}

.characters:hover .charPic-Keqing {
  background-image: url('Characters/Keqing.png');
}

.characters:hover .charPic-Qiqi {
  background-image: url('Characters/Qiqi.png');
}

.characters:hover .charPic-Heizou {
  background-image: url('Characters/Heizou.png');
}

.characters:hover .charPic-Shinobu {
  background-image: url('Characters/Shinobu.png');
}

.characters:hover .charPic-Yunjin {
  background-image: url('Characters/Yunjin.png');
}

.characters:hover .charPic-Gorou {
  background-image: url('Characters/Gorou.png');
}

.characters:hover .charPic-Tohma {
  background-image: url('Characters/Tohma.png');
}

.characters:hover .charPic-Sara {
  background-image: url('Characters/Sara.png');
}

.characters:hover .charPic-Sayu {
  background-image: url('Characters/Sayu.png');
}

.characters:hover .charPic-Yanfei {
  background-image: url('Characters/Yanfei.png');
}

.characters:hover .charPic-Rosaria {
  background-image: url('Characters/Rosaria.png');
}

.characters:hover .charPic-Xinyan {
  background-image: url('Characters/Xinyan.png');
}

.characters:hover .charPic-Diona {
  background-image: url('Characters/Diona.png');
}

.characters:hover .charPic-Barbara {
  background-image: url('Characters/Barbara.png');
}

.characters:hover .charPic-Razor {
  background-image: url('Characters/Razor.png');
}

.characters:hover .charPic-Xiangling {
  background-image: url('Characters/Xiangling.png');
}

.characters:hover .charPic-Beidou {
  background-image: url('Characters/Beidou.png');
}

.characters:hover .charPic-Xingqiu {
  background-image: url('Characters/Xingqiu.png');
}

.characters:hover .charPic-Ningguang {
  background-image: url('Characters/Ningguang.png');
}

.characters:hover .charPic-Fischl {
  background-image: url('Characters/Fischl.png');
}

.characters:hover .charPic-Bennett {
  background-image: url('Characters/Bennett.png');
}

.characters:hover .charPic-Noelle {
  background-image: url('Characters/Noelle.png');
}

.characters:hover .charPic-Chongyun {
  background-image: url('Characters/Chongyun.png');
}

.characters:hover .charPic-Sucrose {
  background-image: url('Characters/Sucrose.png');
}

.characters:hover .charPic-Kaeya {
  background-image: url('Characters/Kaeya.png');
}

.characters:hover .charPic-Lisa {
  background-image: url('Characters/Lisa.png');
}

.characters:hover .charPic-Amber {
  background-image: url('Characters/Amber.png');
}